h1 {
	line-height:40px;
	text-decoration: underline;
	color:black;
}
p { 
	font-family: "Arial";
	font-color: #555555;
}
h2 {
	font-size: 18px;
	color: black;
}
.mainfooter { 
	background-color:green;
	font-size:12px;
}
a :hover {
	color:white;
	text-decoration:underline;
	background-color:yellow;
}
thead {
	text-align:left;
	font-size: 14px;
	height:40px;
}
tr:nth-of-type(1) {
	font-weight:bold;
	width:100px;
}
tr:hover :nth-of-type(n+1){
	color:#FEFFDB;
}
div {
	top-margin:40px;
}
