

thead:hover {
	color:#FEFFDB;
	cursor:pointer;
}


hr {
	padding:30px 30px;
	background-color: #dddddd
}

.first{
	width:100px;
	 
}
 footer{
 	font-size:12px;
 }
 .main-footer{
 	font-size: 12px;
 }
 body{
 	color:#555555;
 	font-family:arial;
 }
.header{
	margin-top: 40px;
}
