thead:hover {
	color:#FEFFDB;
	cursor:pointer;
}
img {
	width:100px;
}
h1 {
	font-size:18px;
}
h2{
	font-size:24px;
}
.hr2{
	padding:10px 10px;
	background-color:#dddddd;
}
.hr3{
	padding:5px 5px;
	background-color:#dddddd;
}
.button{
	float:right;
	border-color:#8ABD2B;
	background-color:#C8F279;
	height:30px;
	margin:-150px 20px 20px 10px;
}
hr {
	padding:30px 30px;
	background-color: #dddddd
}
table{
	border-color:#444444;
	border-width: 20px;
	padding:10px 10px;
	background-color:#FEFFDB;
	width:100px;
}
	 
}
 footer{
 	font-size:12px;
 }
 .main-footer{
 	font-size: 12px;
 }
 body {
 	color:#555555;
 }
 .container{
 	background-color:#dddddd;
 	padding:50px;
 }

