thead:hover {
	color:#FEFFDB;
	cursor:pointer;
}
img {
	width:200px;
	float:left;
}
h2{
	font-size:24px;
}
h3{
	font-weight:bold;
	font-size:24px;
}
hr{
	margin-top: 150px;
}

.button{
	clear:left;
	float:right;
	border-color:#8ABD2B;
	background-color:#C8F279;
	height:30px;
	margin:-100px 20px 20px 10px;
}

table{
	border-color:#444444;
	border-width: 20px;
	background-color:#FEFFDB;
	width:100px;
	margin: 50px 50px 40px 10px;
}
p	 
 .main-footer{
 	font-size: 12px;
 }
 body {
 	color:#555555;
 }
 .container{
 	background-color:#dddddd;
 	width:100%;
 	height:100px;
 }
#instructions{
	margin-top: 40px;
	margin-bottom:40px;
	font-weight: bold;
	font-size: 20px;
}


