

#container2 {
    padding: 20px 50px;
    border: solid;
    width: 250px;
    height: 200px;
    background-color: #FEFFDB;
    font-size: 20px;
}

body {
    color: #555555;
}

img {
    width: 100px;

}

.site {
    font-weight: bold;
}

p {
    font-size: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.box {
    width: 100%;
    height: 100px;
    background-color: #dddddd;
}
.image:first-child {
    margin-right: auto;
}

.nav li {
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}
@media screen and (max-width: 480px) {
            nav{
                width:100px;
                margin-bottom: 10px;

            }
}
            nav ul{
                list-style:none;
            }
